<div *ngIf="categories$ | async as categories; else categoriesNotLoaded">
  <div class="row">
    <div class="col-sm-11">
      <label for="categorySelect">Select Category</label>
      <input
        type="text"
        id="categorySearch"
        name="categorySearch"
        autocomplete="off"
        search
        [data]="categories"
        (selected)="getSelectedCategory($event)"
      />

      <label *ngIf="categorySelected?.isSubExists" for="subCategorySearch"
        >Select Sub-category</label
      >
      <input
        *ngIf="categorySelected?.isSubExists"
        type="text"
        id="subCategorySearch"
        name="subCategorySearch"
        autocomplete="off"
        search
        [data]="categorySelected?.subCategory"
        (selected)="getSelectedSubCategory($event)"
      />
      <label for="difficultySelect">Select difficulty</label>
      <select #difficulty id="difficultySelect">
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
      </select>
      <button
        class="primary"
        id="createBtn"
        (click)="createQuiz(difficulty.value)"
      >
        Create
      </button>
    </div>
  </div>
  <div class="row">
    <app-quiz
      [questions]="(questions$ | async)!"
      [isChangeQuestionAllowed]="(isQuestionChangeAllowed | async)!"
      (changeQuestion)="changeQuestion($event, difficulty.value)"
    ></app-quiz>
  </div>
</div>
<ng-template #categoriesNotLoaded>
  <app-loader></app-loader>
</ng-template>
