<div *ngIf="categories$ | async as categories">
  <div class="row">
    <div class="col-sm-11">
      <label for="categorySelect">Select Category</label>
      <input
        type="text"
        id="categorySearch"
        name="categorySearch"
        autocomplete="off"
      />
      <ul
        id="categoryList"
        search
        [inputElementId]="'categorySearch'"
        [listElementId]="'categoryList'"
        [data]="categories"
        [classToApply]="'font-weight-bold'"
        (selected)="getSelectedCategory($event)"
      ></ul>

      <label *ngIf="categorySelected?.isSubExists" for="categorySelect"
        >Select Sub-category</label
      >
      <input
        *ngIf="categorySelected?.isSubExists"
        type="text"
        id="subCategorySearch"
        name="subCategorySearch"
        autocomplete="off"
      />
      <ul
        id="subCategoryList"
        search
        [inputElementId]="'subCategorySearch'"
        [listElementId]="'subCategoryList'"
        [data]="categorySelected?.subCategory"
        [classToApply]="'font-weight-bold'"
        (selected)="getSelectedSubCategory($event)"
      ></ul>
      <label for="difficultySelect">Select difficulty</label>
      <select #difficulty id="difficultySelect">
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
      </select>
      <button
        class="primary"
        id="createBtn"
        (click)="createQuiz(difficulty.value)"
      >
        Create
      </button>
    </div>
  </div>
  <div class="row">
    <app-quiz
      [questions]="(questions$ | async)!"
      [isChangeQuestionAllowed]="(isQuestionChangeAllowed | async)!"
      (changeQuestion)="changeQuestion($event, difficulty.value)"
    ></app-quiz>
  </div>
</div>
